rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Utilisateurs/{idUtil} {
      allow read, update, delete : if request.auth != null && request.auth.uid == idUtil;
      allow create: if request.auth != null;
    }
    // Collection 'dossiers'
    match /Utilisateurs/{idUtil}/dossiers/{document=**} {
    	allow read, write: if request.auth != null && request.auth.uid == idUtil;
    }
    
    match /memo/{document=**} {
 			allow read, write: if true;
 		}
    
        // Exercice #5
    // Profil de nouveau utilisateur
    match /utilisateurs-ex5/{idUtil} {
        allow read, update, delete: if request.auth != null && request.auth.uid == idUtil;
      allow create: if request.auth != null;
    }
    // Collection 'dossiers'
    match /utilisateurs-ex5/{idUtil}/dossiers/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == idUtil;
    }

  }
}